/**
Styles...
 */

.even {
    float: right;
    width: 50%;
}

.odd {
    float: left;
    width: 50%;
}

td {
    border: 1px solid black;
    height: 122px;
    width: 122px;
    font-family: sans-serif;
}

.square {
    padding-left: 24px;
}

.title {
    font-size: 27px;
    font-family: sans-serif;
}

@media print {
    @page {
        size: landscape
    }

    table {
        height: 100%;
    }

    .print-break {
        page-break-after: always;
    }

    td {
        border: 1px solid black;
        height: 60px;
        width: 60px;
        font-family: sans-serif;
        font-size: 12px;
    }

    .square {
        padding-left: 6px;
    }
}
